<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layouts/head.ejs'); %>
  </head>

  <body class="container">
    <header><%- include('../layouts/header.ejs')%></header>
    <main>
      <div class="jumbotron">
        <h1>This is Author</h1>
        <p>Find Author You Like</p>

        <h2>Author : </h2>
        <input type="text" onkeyup="searchTable()" id="myInput" placeholder="Search for names..">
        <div>
          <table class="table table-striped" id="myTable">
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Author id</th>
                <th>Country code</th>
                <th>Action</th>
              </tr>
              <tbody>
                <%result.forEach(item => {%>
                  <tr>
                    <td><a href="author/information/<%= item.id%>">
                      <%= item.id %>
                    </a>
                    </td>
                    <td><%= item.name %></td>
                    <td><%= item.gender %></td>
                    <td><%= item.author_id %></td>
                    <td><%= item.country_code %></td>
                    <td>
                      <a href="/author/delete/<%= item.id%>">Delete</a>
                      <a href="/author/update/<%= item.id%>">Update</a>
                    </td>
                  </tr>
                <%})%>
              </tbody>
            </thead>
          </table>
        </div>
        
      </div>
    </main>
    <p>
      click here to add author data <a href="/author/add">Add</a>
    </p>
    <footer><%- include('../layouts/footer.ejs')%></footer>
  </body>
</html>

<script>
  function searchTable() {
    let input, filter, table, tr, td, i, txtValue
    input = document.getElementById('myInput')
    filter = input.value.toUpperCase()
    table = document.getElementById('myTable')
    tr = document.getElementsByTagName('tr')

    for(let i=0; i<tr.length; i++){
        td = tr[i].getElementsByTagName('td')[1]
        if(td){
            txtValue = td.textContent || tr.innerText
            if(txtValue.toUpperCase().indexOf(filter) > -1){
                tr[i].style.display =""
            }
            else{
                tr[i].style.display = "none"
            }
        }
    }
}
</script>
