<%- include('../layouts/head.ejs'); %>
<style>
    div {
    padding-left: 10px;
    }
</style>
<main>
    <div class="jumbotron bg-light">
        <h1>Edit Author</h1>
    </div>

    <div id="updateAuthor">
        <form action="<%= author_data.id%>" method="post">
            <div class="form-group">
                <label for="">Name</label><br>
                <input type="text" name="name" value="<%= author_data.name%>"><br>
            </div>
            <div class="form-group">
                <label for="">Gender</label><br>
                <input type="text" name="gender" value="<%= author_data.gender%>"><br>
            </div>
            <div class="form-group">
                <label for="">Author id</label><br>
                <input type="text" name="author_id" value="<%= author_data.author_id%>"><br>
            </div>
            <div class="form-group">
                <label for="">Country code</label><br>
                <input type="text" name="country_code" value="<%= author_data.country_code%>">
            </div>
            <div class="form-group">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>


<%- include('../layouts/footer.ejs')%>