<%- include('../layouts/head.ejs'); %>
<style>
    div {
    padding-left: 10px;
    }
</style>
<main>
    <div class="jumbotron bg-light">
        <h1>Edit Genre</h1>
    </div>

    <div id="updateGenre">
        <form action="<%= result.id%>" method="post">
            <div class="form-group">
                <label for="">Name</label><br>
                <input type="text" name="name" value="<%= result.name%>"><br>
            </div>
            <div class="form-group">
                <label for="">Genre Id</label><br>
                <input type="text" name="genre_id" value="<%= result.genre_id%>"><br>
            </div>
            <div class="form-group">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>


<%- include('../layouts/footer.ejs')%>